* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(3, 3, 3);
  background: linear-gradient(
    90deg,
    rgba(3, 3, 3, 1) 0%,
    rgba(43, 47, 45, 1) 100%,
    rgba(13, 13, 13, 1) 100%
  );
}

.appWrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}
